*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
  font-family: sans-serif;
}*
/* -------------------------------------------------- */
.chatMenuHeader{
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.chatMenuCircle {
  background-color: #f8f8f8;
  border-radius: 10rem;
  padding: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatMenuCircle img {
  width: 60%; /* Ajustez la largeur de l'image selon vos besoins */
  height: auto; /* Maintient le rapport hauteur/largeur de l'image */
  border-radius: 50%; /* Pour un effet de bord arrondi sur l'image */
}

.chatMenuToggle{
  background-color: #f8f8f8;
  border-radius: 10rem;
  padding: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatMenuToggleButton{
  padding: 10px;
  border-radius: 10rem;
  background-color: blue;
  cursor: pointer;
}

.chatMenuToggleButton h5{
  color: #c7c7c7;
  padding-left: 10px;
  padding-right: 10px;
}

/* ----------------------------------------------- */

.chatMessage{
  margin-top: 20px;
  padding: 15px;
  display: flex;
  justify-content: left;
  background-color: #f8f8f8;
  border-radius: 1.2rem;
}

.chatMessageImg {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible; /* Ajout de cette propriété pour cacher une partie de l'image en dehors du conteneur */
}

.chatMessageImg img {
  width: 100%; /* Ajustez la largeur de l'image selon vos besoins */
  height: 100%; /* Ajustez la hauteur de l'image selon vos besoins */
  object-fit: cover; /* Garantit que l'image couvre la totalité du conteneur tout en conservant son ratio hauteur/largeur */
  border-radius: 50%; /* Pour un effet de bord arrondi sur l'image */
}

.chatMessageBody{
  margin-left: 15px;
  flex-grow: 1;
  width: 80%;
}

.chatMessageBottom{
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageHeader {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.chatMessageHeader h4 {
  color: #636363;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1; /* Limite le nombre de lignes affichées à 1 */
  -webkit-box-orient: vertical;
  max-width: 70%; /* Ajustez selon vos besoins */
  height: 20px;
}

.chatMessageBody h6 {
  color: #c5c5c5;
}

.chatMessageBody h5 {
  color: #c5c5c5;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1; /* Limite le nombre de lignes affichées à 1 */
  -webkit-box-orient: vertical;
  max-width: 90%; /* Ajustez selon vos besoins */
}

.notifiCircle {
  background-color: #cf3535;
  border-radius: 10rem;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifiCircle h4 {
  color: white;
  font-weight: bold;
  font-size: 9px;
}

/* ----------------------------------------------- */