*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
  font-family: sans-serif;
}
.chatMenuHeader{
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
}
.chatMenuCircle {
  background-color: #f8f8f8;
  border-radius: 10rem;
  padding: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatMenuCircle img {
  width: 60%; /* Ajustez la largeur de l'image selon vos besoins */
  height: auto; /* Maintient le rapport hauteur/largeur de l'image */
  border-radius: 50%; /* Pour un effet de bord arrondi sur l'image */
}

.chatMenuToggle{
  background-color: #f8f8f8;
  border-radius: 10rem;
  padding: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatMenuToggleButton{
  padding: 10px;
  border-radius: 10rem;
  background-color: blue;
  cursor: pointer;
}

.chatMenuToggleButton h5{
  color: #c7c7c7;
  padding-left: 15px;
  padding-right: 15px;
}